SUBSYSTEM=="tty", ATTRS{idVendor}=="303a", ATTRS{idProduct}=="1001", SYMLINK+="esp", GROUP="dialout", MODE="0666"
    ATTRS{idProduct}=="1001"
    ATTRS{idVendor}=="303a"
    ATTRS{ltm_capable}=="no"
    ATTRS{manufacturer}=="Espressif"
